{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h3 class="new_item_h3">Mise à jour de la liste</h3>

    <div class="background_new_item">

        <form action="{{ path('liste_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="col_form_new_edit">
                <table>
                    <tr>
                        <td style="padding-right:20px">{{ form_label(edit_form.name, 'Libellé') }}</td>
                        <td>{{ form_widget(edit_form.name) }}</td>        
                    </tr>
                    
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    
                    <tr>
                        <td style="padding-right:20px">{{ form_label(edit_form.etat, 'Etat') }}</td>
                        <td>{{ form_widget(edit_form.etat) }}</td>        
                    </tr>
                </table>
            </div>
                {{ form_rest(edit_form) }}
                {{ form_errors(edit_form) }}    

            <div class="buttons_action">
                <button type="submit" class="save">&nbsp;</button>
                <a href="{{ path('liste_delete', { 'id': entity.id }) }}" class="delete_link"><img src="{{ asset('bundles/lfsmdonateur/images/Delete.gif') }}"></a>
            </div>
        </form>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}