{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h3 class="new_item_h3">Mise à jour de la provenance du fichier</h3>

    <div class="background_new_item">

        <form action="{{ path('refprovenancefichier_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="col_form_new_edit">
                <table>
                    <tr>
                        <td>{{ form_label(edit_form.prov_lib, 'Libellé') }}</td>
                        <td>{{ form_widget(edit_form.prov_lib) }}</td>        
                    </tr>
                </table>
            </div>
                {{ form_rest(edit_form) }}
                {{ form_errors(edit_form) }}    

            <div class="buttons_action">
                <button type="submit" class="save">&nbsp;</button>
                <a href="{{ path('refprovenancefichier_delete', { 'id': entity.id }) }}" class="delete_link"><img src="{{ asset('bundles/lfsmdonateur/images/Delete.gif') }}"></a>
            </div>
        </form>
    </div>
    
    <div class="clear"></div>
</div>
{% endblock %}
